.ui.inverted.vertical.masthead.center.aligned.segment
	.ui.container
		.ui.large.secondary.inverted.pointing.menu
			a.toc.item
				i.sidebar.icon
			a.item(href="#") Home
			a.item(href="#") Work
			a.item(href="#") Company
			a.item(href="#") Career
			.right.item
				a.ui.inverted.button Log in
				a.ui.inverted.button Sign Up
	.ui.text.container
		h1.ui.inverted.header Hochul's Portfolio
		h2 Just Do It
		.ui.huge.primary.button Get Started
			i.right.arrow.icon