.ui.large.fixed.top.menu.hidden
	.ui.container
		a.item(href="#") Home
		a.item(href="#") Work
		a.item(href="#") Company
		a.item(href="#") Careers
		.right.menu
			.item
				a.ui.button Log in
			.item
				a.ui.primary.button Sign Up

.ui.vertical.inverted.sidebar.menu
	a.item(href="#") Home
	a.item(href="#") Work
	a.item(href="#") Company
	a.item(href="#") Careers
	a.item(href="#") Log In
	a.item(href="#") Sign Up