.ui.large.top.fixed.menu.trasition.hidden(style='display:flex !important;')
	.ui.container
		a.item(href="#") Home
		a.item(href="#") Work
		a.item(href="#") Company
		a.item(href="#") Careers
		.right.menu
			.item
				a.ui.button Log in
			.item
				a.ui.primary.button Sign Up